#cuerpo-sec {
  margin: 0;
  padding: 0;
  font-family: monserrat;
  background: linear-gradient(#5a113c, #959595);
  height: 100vh;
}




#Titcent {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 20px;
  background-color: rgb(142, 0, 50);
  height: 100px;
  width: auto;
  padding-top: 20px;

}

#registrarAlumnos {
  background-color: rgb(107, 27, 27);
  color: white;
  position: absolute;
  top: 17%;
  left: 40%;
  width: auto;
  height: auto;
  border-radius: 10px;
}
  .input-full-width {
    width: 100%;
  }


#inscribir {
  background-color: rgb(127, 124, 124);
  padding: 30px;
  width: max-content;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 26%;
  left: 36%;
  box-sizing: content-box;
}

.carrera{
  background-color: white;
}
.Guardar01 {
  background-color: rgb(125, 40, 129);
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
}

#btn-guardar-inscripcion {
  border-radius: 10px;
  border: none;
}

#Cambiar-btn-ins {
  border-radius: 10px;
 
  height: max-content;
 
  color: white;
  border: 5px solid black;

}

#tituloreinscirbir {
  background-color:rgb(107, 27, 27);
  color: white;
  position: absolute;
  top: 25%;
  left: 39%;
  width: auto;
  height: auto;
  border-radius: 10px;

  
}

#ReincribirAlumnos01 {

  position: absolute;
  top: 35%;
  left: 36%;
  background-color: rgb(127, 124, 124);
  padding: 40px;
  width: max-content;
  border-width: 10px;
  border-radius: 10px;

}

#Cambiar-btn {
  border-radius: 10px;
  border: none;
  
  color: white;
  border: 5px solid black;
}

#btn-guardar-reins {
  border-radius: 10px;
  border: none;
  
  color: white;
  border: 5px solid black;
}





#link-alumno {

  background-color:rgb(137, 22, 22);
  color: white;
  border-color: black;
}

/* Pagina principal */



.contenedor {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}







.Reinsscri {
  background-color: rgb(127, 124, 124);
  padding: 40px;
  width: max-content;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  box-sizing: content-box;
}


/* Pagina prncipal */

#buttons {
  border: none;
  border-radius: 15px;
  font-size: 300%;
  padding-bottom: 6%;
  width: 400px;
  color: white;
  border: 5px solid black;
}

.Logotipo-uni {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 18%;
  left: 43%;
  
}
.Logo-izquierda{
position: absolute;
top: 22%;
left: 60px;
height: auto;
  width: auto;
}
 
.Logo-derecha{
  position: absolute;
  top: 22%;
  left: 65%;
  height: auto;
  width: auto;
  
}

/***************************************************/


	

  
#Admin-log {

  position: absolute;
  top: 40%;
  left: 40%;
  background-color: rgb(127, 124, 124);
  padding: 40px;
  width: max-content;
  border-width: 10px;
  border-radius: 10px;

}
.login-admin{
background-color:rgb(137, 22, 22);
color:#000000;
padding: auto;
border-radius: 10px;
border: 5px;
}


.pagina-ins-reins {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: auto;
}

form{
  width:  400px;
  margin: auto;
}