#cuerpo-sec{
  margin: 0;
  padding: 0;
  font-family:monserrat;
  background:linear-gradient(  #5a113c,#959595);
height: 100vh;
}




#Titcent {
  color: rgb(255, 255, 255); text-align: center ;
  padding-left: 20px;
background-color: rgb(74, 14, 35);
height: 80px;

}

#registrarAlumnos{
  background-color: rgb(81, 20, 20);
  color: white;
  position: absolute;
  top: 25%;
  left: 20%;
}
#inscribir{
  background-color: rgb(127, 124, 124);
  padding: 40px;
  width: max-content;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 20%;
  box-sizing: content-box;
}
.Guardar01{
  background-color: rgb(125, 40, 129);
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;
border-radius: 10px;
}
#btn-guardar-inscripcion{
  border-radius: 10px;
  border: none;
}
#Cambiar-btn-ins{
  border-radius: 10px;
  border: none;
}

#tituloreinscirbir{
  background-color: rgb(81, 20, 20);
  color: white;
  position: absolute;
  top: 25%;
  left: 55%;
}
#ReincribirAlumnos01{
  
  position: absolute;
  top: 35%;
  left: 55%;
  background-color: rgb(127, 124, 124);
  padding: 40px;
  width: max-content;
  border-width: 10px;
  border-radius: 10px;
 
}
#Cambiar-btn{
  border-radius: 10px;
  border: none;
}
#btn-guardar-reins{
  border-radius: 10px;
  border: none;
}


/* Pagina prncipal */

#Pag-principal{
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



#link-alumno{
  
  background-color: #5a113c;
  color: white;
  border-color: black;
}

/* Pagina principal */

body {
  background-color: #f5f5f5;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}


